{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Listing: {{ listing.title }} </h2>
    <div class="d-flex mb-4 align-items-start">
       {% if listing.image %} 
            <img src="{{ listing.image.url }}" alt="Listing image" style="max-width:200px; height:auto; padding:15px">
        {% endif %}
        <div class="d-flex flex-column">
        {% if listing.category %}
            <p><strong>Description:</strong> {{ listing.description }}</p>
        {% endif %}
        <p><strong>Listed by:</strong> {{ listing.owner }}</p>
        {% if listing.category %}
            <p><strong>Category:</strong> {{ listing.category }}</p>
        {% endif %}
            <form method="POST"  action="{% url 'watchlist' %}">
        {% csrf_token %}
        <div>
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <button type="submit" class="btn btn-primary">Add to Watchlist</button>
        </div>
    </form>
        </div>
    </div>
    <h4 id="starting_bid">€ {{ listing.bid | floatformat:2 }}</h4>
    <form class="form" method="POST">
        {% csrf_token %}
        <input placeholder="Bid" type="number" name="bid" step="0.01" required>
        <button type="submit" class="btn btn-success">Place Bid</button>
    </form>
    <br>
    <div class="col-6">
    <form method="POST"  action="{% url 'comment' listing.id %}">
        {% csrf_token %}
        <textarea class="form-control" placeholder="Add a Comment Here" type="text" name="comment"></textarea>
        <button type="submit" class="btn btn-success">Post</button>    
    </form>
    </div>

    <div class="col-6">
    {% for comment in comments %}
        <div class="p-2 mb-3 border rounded">
            <strong>{{ comment.user.username }}</strong><br>
            <span>{{ comment.comment }}</span>
        </div>
    {% endfor %}
    </div>

{% if message %}
    <div class="alert alert-info">
        {{ message }}
    </div>
{% endif %}

{% endblock %}